<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist-app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="todolist.css">
</head>
<body>
    <div id="todolist-app">
        <div id="header">
            <button
                v-for="tab in tabs"
                v-bind:key="tab.type"
                v-on:click="currentTab = tab.type"
                v-bind:class="['tab-button', { active: currentTab === tab.type }]"
            >{{ tab.name }}</button>
        </div>
        <div id="content">
            <component
                v-for="todo in getTypeLists"
                v-bind:key="todo.key"
                v-bind:list="todo"
                v-bind:deltodo="deleteTodo"
                v-bind:is="currentTabComponent"
            >
            </component>
        </div>

        <div id="footer">
            <add-todolist
                v-on:addtodo="addTodo"
                id="footer"
            >
                <p class="show-length">当前待办列表共有: {{ countList }}项， 其中{{ countUnfinished }}件未完成</p>
            </add-todolist>
        </div>
    </div>

    <script src="todolist.js"></script>
</body>
</html>